{{ env }}:
  adapter: postgresql
  encoding: unicode
  database: {{ database.name }}
  host: {{ database.host }}
  pool: {{ database.pool }}
  username: {{ database.user }}
  password: {{ database.password }}
